{% load static %}
<div class="container" style="max-width:100%; background-color: #F9B82C;">
    <div class="row justify-content-center">
        <div class="col d-flex justify-content-center align-items-center">
            {% if weekend == False %}
            <div class = "container d-flex flex-column justify-content-between" style="background-color: #FFFFFF; overflow:hidden;">
                <div class="row" style="padding: 1rem 0 0 1rem; font-size:1.75rem;">Today is</div>
                <div class="row  justify-content-center" style="font-size: 9rem; font-weight: bold;font-stretch: ultra-expanded;">
                    {% if daytype == "A" %}
                        A
                        {% else %}
                        B
                        {% endif %}
                </div>
                <div class="row justify-content-center" style="padding-bottom: 1rem; font-size: 1.75rem;">Day</div>
            </div>
            {% else %}
            <div class = "container d-flex flex-column justify-content-center align-items-center" style="background-color: #FFFFFF; min-height: 75%; width:60%">
                <div class="row" style="font-size:2rem;">No School Today :)</div>
            </div>
            {% endif %}
        </div> 
    </div>
    <div class="col text-center align-items-center justify-content-center">
        <p style="font-size: 1.75rem; margin-bottom: 0; padding-top:0.5rem;">Lunch Menu</p>
        <img data-bs-toggle="modal" data-bs-target="#menu-eng" src="https://kis.ac/files/attach/images/6140/546/634/54c808d892f7828e9052a73bbc14e0c5.png" style="width:20rem;">
        <img data-bs-toggle="modal" data-bs-target="#menu-kor" src="https://kis.ac/files/attach/images/6140/546/634/990b69a006f307bc4ad389d06984d580.png" style="width:20em; margin-top: 0.25rem;">
        <div class="modal fade" id="menu-eng">
            <!--<div class="modal-dialog modal-dialog-centered modal-fullscreen">-->
          <div class="modal-dialog modal-dialog-centered modal-fullscreen">
              <img class="card-img" src="https://kis.ac/files/attach/images/6140/546/634/54c808d892f7828e9052a73bbc14e0c5.png" alt="no-image">
          </div>
        </div>
        <div class="modal fade" id="menu-kor">
          <div class="modal-dialog modal-dialog-centered modal-fullscreen">
              <img class="card-img" src="https://kis.ac/files/attach/images/6140/546/634/990b69a006f307bc4ad389d06984d580.png" alt="no-image">
          </div>
        </div>
    </div>
    <div class="col d-flex align-items-center justify-content-center">
        <div>
            <p style="font-size: 1.75rem; padding: 0.5rem 0 0.5rem 0.5rem;margin-bottom:0rem;background-color: white;width:42.5rem;">Week Schedule</p>
            {% if weektype == "A" %}
                <img src="https://kisj-info.s3.ap-northeast-2.amazonaws.com/assets/a_tt.jpg" style="max-width:42.5rem;">
            {% else %}
                <img src="https://kisj-info.s3.ap-northeast-2.amazonaws.com/assets/b_tt.jpg" style="max-width:42.5rem;">
            {% endif %}
        </div>
    </div>
    <div class="col text-center d-flex align-items-center justify-content-center">
        <a href="" style ="text-decoration: none; color:black; background-color: #FFFFFF; height: 100%; width:100%; padding: 0.5rem; overflow:hidden;">
            <p style="font-size: 1rem;">If you are interested<br>in posting on this<br>website...</p>
            <p style="font-size: 2rem;"><strong>Click Here</strong></p>
            <p style="font-size: 1rem;">Fill out a form and <br>gain access!</p>
            <p style="font-size: 0.75rem; margin-bottom: 0.5rem;">If you are a teacher,<br> you do not need further access to post</p>
        </a>
    </div>

</div>